<!-- Hero Section -->
    <section id="home" class="hero">
        <div class="container">
            <div class="hero-content">
                <p class="profession-title">Site Reliability Engineer (SRE)</p>
                <h1>Olá, meu nome é Eliza Augusta</h1>
                <p>
                    SRE com experiência prática em ambientes produtivos de alta disponibilidade, atuando com AWS, Kubernetes, Terraform e pipelines CI/CD. Forte atuação em observabilidade, automação, GitOps e resposta a incidentes críticos. Vivência em ambientes cloud-native, infraestrutura como código e monitoramento orientado à confiabilidade, escalabilidade e redução de falhas em produção.
                </p>
                <div class="btn-group">
                                        <a href="../pdf/curriculo.pdf" class="btn btn-primary" target="_blank">
                                            <i class="fas fa-file-pdf"></i> Currículo em PDF
                                        </a>
                    <a href="mailto:elizaaugusta71@gmail.com" class="btn btn-primary">
                        <i class="fas fa-envelope"></i> E-mail
                    </a>
                    <a href="tel:+5583996575630" class="btn btn-outline">
                        <i class="fas fa-phone"></i> Telefone
                    </a>
                    <a href="https://github.com/ElizaAugusta4" class="btn btn-primary" target="_blank">
                        <i class="fab fa-github"></i> GitHub
                    </a>
                    <a href="https://www.linkedin.com/in/eliza-augusta-5053201a6/" class="btn btn-outline" target="_blank">
                        <i class="fab fa-linkedin-in"></i> LinkedIn
                    </a>
                </div>
            </div>
        </div>
    </section>