<!-- Projects Section -->
    <section id="projects" class="projects">
        <div class="container">
            <div class="section-header">
                <h2>Projetos Recentes</h2>
            </div>
            
            <div class="projects-grid">
                <div class="project-card">
                    <div class="project-img">Imagem do Projeto</div>
                    <div class="project-content">
                        <h3>Plataforma de Monitoramento Unificada</h3>
                        <p>Sistema centralizado de monitoramento para mais de 200 microsserviços, reduzindo tempo de detecção de problemas em 60%.</p>
                        <div class="project-tech">
                            <span class="tech-badge">Prometheus</span>
                            <span class="tech-badge">Grafana</span>
                            <span class="tech-badge">Python</span>
                        </div>
                        <div class="project-links">
                            <a href="#" class="project-link">
                                <i class="fas fa-external-link-alt"></i> Detalhes
                            </a>
                        </div>
                    </div>
                </div>
                
                <div class="project-card">
                    <div class="project-img">
                      <img src="../img/terraform.png" alt="Imagem do Projeto">
                    </div>
                    <div class="project-content">
                        <h3>Automação de Provisionamento</h3>
                        <p>Pipeline de infraestrutura como código para provisionamento automático de ambientes em múltiplas clouds.</p>
                        <div class="project-tech">
                            <span class="tech-badge">Terraform</span>
                            <span class="tech-badge">AWS</span>
                        </div>
                        <div class="project-links">
                            <a href="https://github.com/ElizaAugusta4/Infraestrutura-Modular-Terraform" class="project-link">
                                <i class="fas fa-external-link-alt"></i> Detalhes
                            </a>
                        </div>
                    </div>
                </div>
                
                <div class="project-card">
                    <div class="project-img">
                      <img src="../img/aws.png" alt="Imagem do Projeto">
                    </div>
                    <div class="project-content">
                        <h3>Projeto de Automação CI/CD</h3>
                        <p>Repositório que demonstra boas práticas de automação de Deploy na AWS ECR</p>                      <div class="project-tech">
                            <span class="tech-badge">Docker</span>
                            <span class="tech-badge">Python</span>
                            <span class="tech-badge">GitHub Actions</span>
                            <span class="tech-badge">AWS</span>
                        </div>
                        <div class="project-links">
                            <a href="https://github.com/ElizaAugusta4/fastapi-template" class="project-link">
                                <i class="fas fa-external-link-alt"></i> Detalhes
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
